<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TGS8_A_9780</title>
        <meta content="" name="descriptison">
        <meta content="" name="keywords">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/3dae3f64d9.js" crossorigin="anonymous"></script>
        <script src="vue.js"></script>
    </head>
    <body>
        <div class="bg-secondary">
            <nav class="navbar navbar-light custom-navbar">
                <div class="container bg-info">
                    <a class="navbar-brand text-light" href="TGS.html"><h2>TO DO LIST <i class="fas fa-edit text-dark"></i></h2></a>
                </div>
            </nav>
            <div id="app" align="center" class="container my-2" style="width: 600px">
                <span v-if="jumlahData==0">
                    <div class="bg-light rounded" style="padding: 10px">
                        <h3><b>LIST</b></h3>
                        <div class="jumbotron rounded" style="padding: 10px">
                            <div class="overflow-auto" style="max-width: 600px; max-height: 500px; padding: 5px">
                                <span v-for="(item, index) in todoList_array" :key="index">
                                    <div class="border border-dark rounded my-3" style="padding: 10px;" align="justify">
                                        <div align="right">
                                            <i class="far fa-times-circle" @click="hapus(index)"></i>
                                        </div>
                                        <span v-if="item.penting == pilihan_penting.penting">
                                            <p class="text-danger"><b>{{item.penting}}</b></p>
                                        </span>
                                        <span v-if="item.penting == pilihan_penting.biasa">
                                            <p class="text-primary"><b>{{item.penting}}</b></p>
                                        </span>
                                        <span v-if="item.penting == pilihan_penting.tidakPenting">
                                            <p class="text-success"><b>{{item.penting}}</b></p>
                                        </span>
                                        <h2><b>{{item.kerja}}</b></h2>
                                        <p>{{item.catatan}}</p>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </span>
                <div class="bg-light rounded my-4" style="padding: 10px">
                    <h3><b>FORM</b></h3>
                    <div align="justify" class="jumbotron rounded my-3" style="padding: 20px">
                        <div>
                            <label><b>Apa yang Mau Kamu Kerjakan?</b></label>
                            <input type="text" class="form-control" v-model="input.kerja_input">
                        </div>
                        <div class="my-4">
                            <label><b>Penting Gak?</b></label>
                            <select class="form-control" v-model="input.penting_input">
                                <option value="Penting">{{pilihan_penting.penting}}</option>
                                <option value="Biasa">{{pilihan_penting.biasa}}</option>
                                <option value="Tidak Penting">{{pilihan_penting.tidakPenting}}</option>
                            </select>
                        </div>
                        <div class="my-4">
                            <label><b>Ada Catatan Penting?</b></label>
                            <textarea class="form-control" type="text" rows="5" v-model="input.catatan_input"></textarea>
                        </div>
                        <div class="col" style="margin-left: -4%">
                            <button class="btn btn-danger mx-2" @click="reset">Reset</button>
                            <button class="btn btn-success" @click="inputData">Simpan</button>
                        </div>
                        <span v-if="cek_input==1" align="center">
                            <div class="my-3">
                                <p class="text-danger"><b>{{alert}}</b></p>
                            </div>
                        </span>
                    </div>
                </div>
                <footer class="my-2">
                    <h5><b>{{footer.nama}} | {{footer.npm}} | {{footer.kelas}}</b></h5>
                </footer>
                <div class="my-2 bg-secondary"><h5 class="text-secondary">-</h5></div>
            </div>
        </div>
    </body>
    <script>
        new Vue({
            el:"#app",
            data:
            {
                todoList_array:
                [
                    {kerja: 'Makan Pagi',penting: 'Penting', catatan: 'Pukul 10:00 WIB - 10:30 WIB'},
                    {kerja: 'Tidur Siang', penting: 'Biasa', catatan: 'Pukul 10:30 WIB - 13:00 WIB'},
                    {kerja: 'Belajar', penting: 'Tidak Penting', catatan: 'Pukul 13:00 WIB - 14:30 WIB'},
                ],
                input:
                {
                    kerja_input: '',
                    penting_input: '',
                    catatan_input: '',
                },
                sample: '',
                jumlahData: 0,
                pilihan_penting:
                {
                    penting: 'Penting',
                    biasa: 'Biasa',
                    tidakPenting: 'Tidak Penting',
                },
                cek_input: 0,
                alert: '',
                footer:
                {
                    nama: 'Hilarius Ryan Auxilio Benedecas',
                    npm: '180709780',
                    kelas: 'PAW A',
                }, 
            },
            methods: 
            {
                reset()
                {
                    this.input.kerja_input = '';
                    this.input.penting_input = '';
                    this.input.catatan_input = '';
                    this.cek_input = 1;
                    this.alert = 'DATA BERHASIL DI RESET!!!!';
                },
                simpan()
                {
                    this.alert = 'DATA BERHASIL DI DISIMPAN!!!!';
                    this.todoList_array.push({
                        kerja: this.input.kerja_input,
                        penting: this.input.penting_input,
                        catatan: this.input.catatan_input,
                    });
                    this.input.kerja_input = '';
                    this.input.penting_input = '';
                    this.input.catatan_input = '';
                    this.cek_input = 1;
                },
                hapus(index)
                {
                    this.todoList_array.splice(index, 1);
                    this.cek_input = 0;
                    if(this.todoList_array.length==0)
                    {
                        this.jumlahData = 1;
                    }
                    else
                    {
                        this.jumlahData = 0;
                    }
                },
                inputData()
                {
                    if(this.input.kerja_input == this.sample || this.input.penting_input == this.sample || this.input.catatan_input == this.sample)
                    {
                        this.cek_input = 1;
                        this.alert = 'DATA ADA YANG KOSONG !!!!';
                    }
                    else
                    {
                        this.simpan();
                    }
                },
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>